{% extends "base.html" %}
{% block content %}
    {% if transactions %}
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                {% for t in transactions %}
                <tr>
                    <td>{{ t[0] }}</td>
                    <td>{{ t[1] }}</td>
                    <td>₹{{ '%.2f' | format(t[2]) }}</td>
                    <td>{{ t[3] }}</td>
                    <td>{{ t[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No transactions found.</p>
    {% endif %}
{% endblock %}
